div.book {
    padding: 20px;
    background: linen;
    border-radius:  5px;
    h3 {
        margin-top: 0px;
    }
    p.author {
        color: blue;
    }
    p.genre {
        font-size: 0.8em;
        color: brown;
    }
    img {
        width: 450px;
        margin-bottom: 20px;
    }
    .img-container {
        text-align: center;
        margin-bottom: 20px;
    }
}
div.info {
    background: #fff5fd;
    border-radius: 10px;
    padding: 10px;
}