<nav>
    <div class="nav-wrapper">
        <a class="brand-logo">Бібліотека</a>
    </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
    <!-- <div class="row" style="margin-top: 20px;">
        <div class="col m6 offset-m3 s12">
            <a class="btn-floating btn-large waves-effect waves-light green">
                <i class="material-icons">add</i>
            </a>
        </div>

        <p> last data change:
            <span>{{changeDate|date:'dd.MM.yyyy HH:mm:ss'}}</span>
        </p> 

        <app-book *ngFor="let book of books" [book]="book" (dataChange)="onDataChange($event)">


    </div> -->
    <!-- <app-new-book (book)="addBook($event)"></app-new-book> -->
    <!-- <app-book *ngFor="let book of books; let i = index" [book]="book" [bookIndex]="i" (removeBook)="deleteBook($event)"> -->

    <!-- <app-new-book></app-new-book>
    <app-book *ngFor="let book of books; let i = index" [book]="book" [bookIndex]="i">
    </app-book> -->
</div>